//Colores
$primary: #fac19b;
$dark:#000000;
$secondary:#c78b63;
$danger: #CDCCCB;
$color-nav:rgb(255, 255, 255);
$body-color:#333;
$dropdown-bg: #fff;
$success:#00bc8c;
$light:#adb5bd;
$dark:#303030 ;
$input-bg:$primary;
$input-color:$dark;
