//Fuentes
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Cuprum&display=swap');
$font-family-base:'Dancing Script', sans-serif;
$font-family-sans-serif: 'Dancing Script', sans-serif;
$font-cabeceras:'Courgette', cursive;
$headings-font-family:$font-cabeceras;
$font-size-base:1.2rem;
